*.jpg
*.png
*.tiff
*.csv
*.pyc
src/__pycache__/IR_processing_utils.cpython-312.pyc
src/__pycache__/IR_processing_utils.cpython-312.pyc
/src/__pycache__/*
src/polygon_stats1.csv
src/__pycache__/IR_processing_utils.cpython-312.pyc
src/__pycache__/IR_processing_utils.cpython-312.pyc
src/pics*/*
src/pics*/*
